@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500,600,700|DM+Serif+Display:400|DM+Serif+Text:400'); 

.header_title{
    align-self: stretch;
}
    

.header_title h1{
    color: var(--initial-palette-blue600) !important;
    font-family: 'DM Serif Display',georgia,serif !important;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
}

/* .header_container{
    display:grid ;
    grid-template-columns: 1fr 1fr;
} */

.header_container{
    margin: 40px 0px;
    display: flex;
    align-items: flex-end;
    gap: 32px;
    align-self: stretch;
}

.header_details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    flex: 1 0 0;
}

.publish_details{
    align-self: stretch;
    color: var(--initial-palette-blue600);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.publish_details .dated{
    color: var(--initial-palette-blue600);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 150%;
}

.subtitle{
    align-self: stretch;
    color: var(--initial-palette-blue600);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.blog_image img{
    display: flex;
    width: 728px;
    height: 410px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 8px;
}

.h_line hr{
    border: 3px;
    height: 3px;
    background: var(--initial-palette-yellow300);
}


