/* *{
    margin: 0;
    border: 0;
    outline: border-box;
    list-style: none;
    text-decoration: none;
} */

/* body {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;

} */

.main-body{
  padding: 60px 80px 80px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* margin: 60px 80px 80px 80px; */

}


:root{
    --initial-palette-blue600:#124D8F;
    --initial-palette-neutral600:#122A43;
    --initial-palette-white:#FFFFFF;
    --initial-palette-yellow200:#FFDF6B;
    --initial-palette-yellow300:#FDCE3E;
    --initial-palette-yellow600:#D09006;
    --final-palette-blueGradient:#2B75C7;
}
